In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a': 10, 'b': 20,'c': 30}

In [5]:
pd.series(my_data)

AttributeError: module 'pandas' has no attribute 'series'

In [6]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [13]:
pd.Series(data = [sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [14]:
ser1 = pd.Series([1,2,3,4], ['USA', 'Germany', 'Italy', 'Japan'])

In [15]:
ser1

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [16]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Italy', 'France', 'Germany'])
ser2

USA        1
Italy      2
France     5
Germany    4
dtype: int64

In [17]:
ser1['USA']

1

In [18]:
ser3 = pd.Series(data = labels)

In [19]:
ser3

0    a
1    b
2    c
dtype: object

In [20]:
ser3[0]

'a'

In [21]:
ser1

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [22]:
ser4 = pd.Series([1,2,3,4], ['Italy', 'Japan', 'Germany', 'USA'])

In [23]:
ser1 + ser4

Germany    5
Italy      4
Japan      6
USA        5
dtype: int64